/* ベーススタイル */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* ヘッダーセクション */
.header {
    background-color: rgba(0, 0, 0, 1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner {
    display: flex;
    align-items: center;
    width: 100%;
}

/* ヘッダーロゴ */
.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    height: 30px;
    margin-right: 20px;
}

/* ナビゲーション */
.header-nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.header-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.header-nav ul li a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    font-family: Inter;
}

.header-nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


/* ログアウトボタン */
.logout-form {
    display: inline-block;
}

.logout-form button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.logout-form button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


/* PC向け (1400-1540px) */
@media (min-width: 1400px) and (max-width: 1540px) {
    .header {
        padding: 20px 40px;
    }

    .header-nav ul li a {
        padding: 15px;
        font-size: 18px;
    }

    .register__content {
        width: 700px;
    }

    .form__input--text input {
        font-size: 18px;
        padding: 12px;
    }

    .form__button-submit {
        font-size: 18px;
        padding: 12px;
    }
}

/* タブレット向け (768-850px) */
@media (min-width: 768px) and (max-width: 850px) {
    .header {
        padding: 15px 30px;
    }

    .header-nav ul {
        gap: 10px;
    }

    .header-nav ul li a {
        font-size: 14px;
        padding: 8px;
    }

    .register__content {
        width: 90%;
        margin: 50px auto;
    }

    .form__label--item {
        font-size: 16px;
    }

    .form__input--text input {
        font-size: 16px;
        padding: 10px;
    }

    .form__button-submit {
        font-size: 16px;
        padding: 10px;
    }
}