/* 全体のスタイル */
html,
body {
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
    height: 100%;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}

/* タイトルのスタイル */
h1 {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 100px;
    padding: 10px;
    border-left: #000000 5px solid;
}

/* テーブル全体のスタイル */
.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #E1E1E1;
    overflow: hidden;
    margin-top: 100px;
}

.table th {
    padding: 30px;
    text-align: center;
    border-bottom: 3px solid #E1E1E1;
    color: #737373;
    background-color: #FFFFFF;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 2px;
}

.table td {
    padding: 30px 100px;
    text-align: center;
    border-bottom: 2px solid #E1E1E1;
    color: #737373;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 2px;
}

.table tbody tr:last-child td {
    border-bottom: none;
}

.btn  {
    color: #000000;
    text-decoration: none;
    font-family: Inter;
    line-height: 100%;
}


/* テーブルのレスポンシブ対応 */
@media (max-width: 768px) {

    .table th,
    .table td {
        padding: 8px;
        font-size: 14px;
    }

    .form-control {
        font-size: 14px;
    }

    button.btn-primary {
        font-size: 14px;
        padding: 8px 16px;
    }
}

/* PC (1400-1540px) */
@media (min-width: 1400px) and (max-width: 1540px) {
    .container {
        max-width: 1200px;
        padding: 30px;
    }

    .mb-4 {
        font-size: 28px;
    }

    .table th,
    .table td {
        font-size: 18px;
    }

    .form-control {
        font-size: 16px;
    }

    button.btn-primary {
        font-size: 18px;
        padding: 12px 24px;
    }
}

/* タブレット (768-850px) */
@media (min-width: 768px) and (max-width: 850px) {
    .container {
        max-width: 100%;
        padding: 15px;
    }

    .mb-4 {
        font-size: 24px;
    }

    .table th,
    .table td {
        font-size: 14px;
        padding: 8px;
    }

    .form-control {
        font-size: 14px;
    }

    button.btn-primary {
        font-size: 14px;
        padding: 8px 16px;
    }

    .range-separator {
        margin: 0 10px;
    }
}