/* 全体のスタイル */
html,
body {
    margin: 0;
    padding: 0;
    background-color: #F0EFF2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 680px;
    height: auto;
    /* 高さを自動調整 */
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form__heading h2 {
    margin: 0 0 50px;
    font-size: 36px;
}

.form__input--text input[type="email"],
.form__input--text input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    /* 親要素に依存 */
    box-sizing: border-box;
    margin-bottom: 30px;
}

.form__button-submit {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    width: 100%;
    /* 親要素に依存 */
    border-radius: 4px;
    font-size: 22px;
    cursor: pointer;
}

.form__button-submit:hover {
    background-color: #555;
}

/* PC (1400-1540px) */
@media (min-width: 1400px) and (max-width: 1540px) {
    .login__content {
        width: 700px;
        height: auto;
    }

    .form__input--text input[type="email"],
    .form__input--text input[type="password"] {
        width: 90%;
        /* 相対幅に */
    }

    .form__button-submit {
        width: 90%;
        /* 相対幅に */
    }
}

/* タブレット (768-850px) */
@media (min-width: 768px) and (max-width: 850px) {
    .login__content {
        width: 95%;
        height: auto;
    }

    .form__input--text input[type="email"],
    .form__input--text input[type="password"] {
        width: 100%;
    }

    .form__button-submit {
        width: 100%;
    }
}